<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col s12">
      <div class="row">
        <div class="col s8">
          <h2 class="section-headline"><span>User Account</span></h2>
        </div>
        <div class="col s4">
          <img src="../../../assets/image/logo.png" class="responsive-img right" style="width:400px; z-index: 1;"/>
        </div>
      </div>
      <hr style="position: absolute; width:85%; height:6px; background-color: #333; z-index: -1; margin-top: -155px;" />
      <img class="responsive-img" src="../../../assets/image/wood.png" style="margin-top: -175px;z-index: -1;" />
    </div>
  </div>



  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel hoverable grey lighten-4">
          <img class="responsive-img" src="../../../assets/image/bestseller.png" />
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card-panel hoverable grey lighten-4">
          <img class="responsive-img" src="../../../assets/image/hours.png" />
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card-panel hoverable grey lighten-4">
          <img class="responsive-img" src="../../../assets/image/faq.png" />
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <img class="responsive-img" src="../../../assets/image/shelf.png" style="margin-top: -75px;z-index: -1;" />
  <div class="row " style="margin:auto; margin-top: -190px; margin-bottom: 50px; width:90%; ">
    <div class="col s2  center-align"><img class="responsive-img " style="width:100px;" src="../../../assets/image/book1.png" /></div>
    <div class="col s2  center-align"><img class="responsive-img " style="width:100px;" src="../../../assets/image/book1.png" /></div>
    <div class="col s2  center-align"><img class="responsive-img " style="width:100px;" src="../../../assets/image/book1.png" /></div>
    <div class="col s2  center-align"><img class="responsive-img " style="width:100px;" src="../../../assets/image/book1.png" /></div>
    <div class="col s2  center-align"><img class="responsive-img " style="width:100px;" src="../../../assets/image/book1.png" /></div>
    <div class="col s2  center-align"><img class="responsive-img " style="width:100px;" src="../../../assets/image/book1.png" /></div>
  </div>


</div>
