<div class="container">
  <div [hidden]="loggedIn" class="z-depth-1 grey lighten-4 row" style="margin:auto; margin-top: 50px; padding: 32px 48px 0px 48px; border: 1px solid #EEE; width:500px;">

    <form class="col s12" (ngSubmit)="onSubmit()">
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input type='text' [(ngModel)]="credential.username" name='username' id='username' placeholder="Your Username" />
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input type='password' [(ngModel)]="credential.password" name='password' id='password' placeholder="Your Password" />
        </div>
      </div>

      <br />
        <div class='row'>
          <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue darken-2'>Login</button>
        </div>
    </form>
  </div>

  <div [hidden]="!loggedIn">
    <h2>Welcome to Admin Portal!</h2>
  </div>
</div>
