<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="/bookList" routerLinkActive="active">Book List</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo" style="margin-left: 50px;">LE'S BOOKSTORE</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">BOOKS<i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
      <li><a routerLink="/shoppingCart" routerLinkActive="active">SHOPPING CART</a></li>
      <li><a routerLink="/myAccount" routerLinkActive="active">MY ACCOUNT</a></li>
      <!-- Dropdown Trigger -->
    </ul>
  </div>
</nav>
