/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
@import '../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';

.container {
  width: 90%;
}

.section-headline {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 90px;
}

.section-headline span {
  background-color: #231F20;
  padding: 5px 22px;
}

.box {
  border: 1px solid red;
}

.li {
  display:inline;
  white-space: nowrap;
}
