<div class="container" style="margin-top: 20px;">
	<div class="row">
	<div class="col s10 offset-s2">
			<div>
      <h3>Inline Editing</h3>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'">
        <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
          <template let-row="row" ngx-datatable-row-detail-template>
            <div style="padding-left:35px;">
              <div><strong>Address</strong></div>
              <div>test1, test2</div>
            </div>
          </template>
        </ngx-datatable-row-detail>
      </ngx-datatable>
    </div>
		</div>
	</div>
</div>